In [1]:
import csv
import numpy as np 
import pandas as pd
from datetime import datetime as dt

pd.set_option('display.max_rows', 4000)
pd.set_option('display.max_columns', 200)

In [8]:
tempDF = pd.read_csv('beforeAfter_AllData.csv', low_memory=False)

In [9]:
tempDF = tempDF.drop(columns='Unnamed: 0')
tempDF.head(1)

,username,first_contact,second_contact,third_contact,tweet_count,sentiment_scores,trump_count
0,tamarindlemur,2015-06-15,2016-02-05,2016-02-09 00:00:00,"[1484, 2274, 1759, 1178, 1191, 1354, 1187, 780...","[-0.0907167115902965, -0.09009718557607739, -0...","[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 8, 1, ..."

In [5]:
tempDF = tempDF.drop(columns='Unnamed: 0')

**tweet_count, sentiment_scores, and trump_count are each list with 72 indices which represent the +/- 12 months from each contact point**

For example, to examine the tweet counts for the 12 months before and after each of the three contact points for the user at index 0, I would do something like the following:

In [15]:
allTweetCounts = tempDF['tweet_count'][0] #first store full array locally

allTweetCounts = allTweetCounts.split(', ')
allTweetCounts[0] = allTweetCounts[0][1:]
allTweetCounts[-1] = allTweetCounts[-1][:-1]
for x in range(len(allTweetCounts)):
    allTweetCounts[x] = int(allTweetCounts[x])

In [16]:
tweetCountFirstContact = allTweetCounts[0:24] #first 24 indices are the 12 before / after itianl contact
tweetCountSecondContact = allTweetCounts[24:48] #second set of 24  represents tweet counts for the 12 months before / after second contact
tweetCountThirdContact = allTweetCounts[48:] # third set of 24 represents tweet counts for the 12 months before / after third contact

Then for each of the 24 indices in the three above lists, they correspond to the following times:

-12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 1 2 3 4 5 6 7 8 9 10 11 12

where a negative number is the number of months prior to contact and a positive number is after contact 


so for the 12th month before second contact would be accessed by:

In [19]:
tweetCountSecondContact[0]

779

and for the third month after the first contact, we would have:

In [20]:
tweetCountFirstContact[14]

742

the mechanisms for indexing are the same for the other two scores (sentiment and trump counts)

**It is important to note that I have not removed any user from this data frame if they accounts had not yet been created. I do this right before I plot the data and NOT with the use of 'NaN'**

in order to see how I remove users from columns where they are not needed before plotting please refer to the notebook located at: 

/home/rhetthanscom/BeforeAndAfterAnalysis/beforeAfter_IRAtoUser.ipynb